*, ::before, ::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box; 
.bigheading {
	position: absolute;
	left: 2%;
	top: 3%;
	font-size: 5vw;
	font-family: "Gill Sans", sans-serif;
	color: rgb(50, 50, 50);
}
.navbar h2 {
	position: absolute;
	top: 2%;
	font-family: "Gill Sans", sans-serif;
	color: rgb(50, 50, 50)
}
#resourcebutton {
	position: absolute;
	right: 25%;
	font-family: "Gill Sans", sans-serif;
	top: 6%;
	font-size: 2vw;
	color: rgb(50, 50, 50);
}
#forumsbutton {
	position: absolute;
	right: 40%;
	font-size: 2vw;
	font-family: "Gill Sans", sans-serif;
	top: 6%;
	color: rgb(50, 50, 50);
}
#aboutusbutton {
	position: absolute;
	right: 10.7%;
	top: 6%;	
	font-family: "Gill Sans", sans-serif;
	font-size: 2vw;
	color: rgb(50, 50, 50);
}

.dropdownmenu {
	text-decoration: none;
}
#background {
	background-attachment: scroll;
}