*, ::before, ::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box; 
}
html {
	background-color: white;
	overflow-x: hidden;
}
.bigheading {
	position: absolute;
	left: 2%;
	top: 3%;
	font-size: 5vw;
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(50, 50, 50);
}
.bigheading a {
	text-decoration: none;
	color: black;
}
.navbar h2 {
	position: absolute;
	top: 2%;
	font-family: "Gill Sans", sans-serif;
	color: rgb(50, 50, 50)
}
#resourcebutton {
	position: absolute;
	right: 20%;
	font-family: "Gill Sans", sans-serif;
	top: 6%;
	font-size: 2vw;
	color: rgb(50, 50, 50);
}
#forumsbutton {
	position: absolute;
	right: 40%;
	font-size: 2vw;
	font-family: "Gill Sans", sans-serif;
	top: 6%;
	color: rgb(50, 50, 50);
}
#aboutusbutton {
	position: absolute;
	right: 5%;
	top: 6%;	
	font-family: "Gill Sans", sans-serif;
	font-size: 2vw;
	color: rgb(50, 50, 50);
}

.topmenu {
	text-decoration: none;
	float: right;
}
#background {
	background-attachment: scroll;
	height: auto;
}
.afterhomepage {
	margin-left: 25%;
	margin-right: 25%;
	z-index: 5;
	transform: translateY(3vw);
	margin-bottom: 30vh;
}


#welcometexthr {
	margin-bottom: 1.5vw;
}

#welcometext {
	font-family: Arial, sans-serif;
	color: rgb(72, 112, 57);
}

#h1paragraph {
	width: 33%;
	font-family: DejaVu Sans Mono, monospace;
	float: left;
	font-size: 2vw;
	margin-right: 4vw;
}

#paragraphthingy {
	font-family: Optima, sans-serif;
	font-size: 1.25vw;
}


.aftertheafterhomepage {
	position: absolute;
	width: 50%;
	height: auto;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 15vw;
}

#aftertheafterheading {
	position: absolute;
	transform: translateY(-0.5vw);
}



.afterhomepage1 {
	margin-left: 25%;
	margin-right: 25%;
	z-index: 5;
	transform: translateY(10vw);
}

.margins {
	margin-left: 25vw;
	margin-right: 25%;
}

.projectthingy {
	margin-left: 15%;
	margin-right: 15%;
}

#projectsheader {
	text-align: left;
	font-family: Arial, sans-serif;
	color: rgb(72, 112, 57);
	font-size: 1.25em;
	margin-bottom: 0.5vh;
}

.imagecontainer {
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 5vw);
    grid-gap: 5%;
}

.imagecontainer img {
	z-index: 2;
}

.imagecontainer p {
	z-index: 3;
	font-family: Optima, sans-serif;
	font-size: 1.5vw;
	font-weight: 600;
	text-decoration: underline;
	text-decoration-color: rgb(72, 112, 57);
	color: rgb(72, 112, 57);
}



#firstbackgroundcolor {
	background-color: beige;
	height: 20vw;
	transform: translateY(-5%);
}

#secondbackgroundcolor {
	height: 9em;
}



.threedprinterheaderthingyy {
	padding-left: 5%;
	margin-top: 1em;
	font-size: 2.5em;
	font-family: DM Sans,sans-serif;
	font-family: 100;
}

.thirdbackgroundcolor {
	background-color:darkcyan;
	height: 50em;
}
.thirdbackgroundcolor img {
	float: right;
	padding: 2.5%;
	/*transform: translateY(-34em);*/
	position: relative;
	top: 0;
	/*object-fit: cover;*/
	object-position: 50% 15%;
	height: 100%;
}



#thirdbackgroundtexth1 {
	font-family: DejaVu Sans Mono, monospace;
	padding-left: 5%;
	padding-top: 0.6em;
	font-size: 5em;
	color: white;
}

#thirdbackgroundcolorparagraph {
	padding-left: 5%;
	padding-top: 3em;
	font-family: Optima, sans-serif;
	font-size: 1.62em;
	color: lightgray;
}

#fourthbackgroundtexth1 {
	padding-right: 5%;
	padding-top: 23vw;
	width: 33%;
	font-family: DejaVu Sans Mono, monospace;
	float: right;
	/*position: absolute;*/
	right: -4%;
	margin-top: 4em;
	font-size: 5.25em;
}

.thirdbackgroundcolortext {
	background-color:darkcyan;
	height: 9em;
}

.fifthbackgroundcolor {
	background-color:darkolivegreen;
	height: 50em;
	transform: translateY(14em);
}
.fifthbackgroundcolor img {
	float: left;
	padding-left: 2.5%;
	transform: translateY(-5em);
	object-fit: cover;
	object-position: 50% 15%;
	height: 52em;
}

#fifthbackgroundh1 {
	font-family: DejaVu Sans Mono, monospace;
	padding-left: 5%;
	position: absolute;
	right: 5%;
	padding-top: 0.6em;
	font-size: 5em;
	color: white;
}

#fifthbackgroundtextp {
	width: 45%;
	padding-left: 5%;
	padding-top: 10em;
	font-family: Optima, sans-serif;
	font-size: 1.25em;
	color: lightgray;
	position: absolute;
	right: 5%;
	text-align: right;
}

#sixbackgroundcolor {
	background-color: white;
	height: 9em;
}

.sixprinterheaderthingyy {
	padding-left: 5%;
	margin-top: 1em;
	font-size: 2.5em;
	font-family: DM Sans,sans-serif;
	font-family: 100;
	transform: translateY(6.3em);
	margin-bottom: 6em;
}

.sevenbackgroundcolor {
	background-color:darkcyan;
	height: 50em;	
	transform: translateY(17em);
}
.sevenbackgroundcolor img {
	float: right;
	position: absolute;
	right: 2.5%;
	transform: translateY(-33em);
	object-fit: cover;
	object-position: center;
	height: 52em;
}

#sevenbackgroundtexth1 {
	font-family: DejaVu Sans Mono, monospace;
	padding-left: 5%;
	padding-top: 0.6em;
	font-size: 5em;
	color: white;
}

#sevenbackgroundcolorparagraph {
	width: 45%;
	padding-left: 5%;
	padding-top: 3em;
	font-family: Optima, sans-serif;
	font-size: 1.25em;
	color: lightgray;
}

.sevenbackgroundcolortext {
	background-color:darkcyan;
	height: 9em;
}
.sevenbackgroundcolortext img {
	transform: translateY(-44em);
}

body {
	font-family: acumin-pro, system-ui, sans-serif;
	margin: 0;
	display: grid;
	grid-template-rows: auto 1fr auto;
	font-size: 14px;
	background-color: #f4f4f4;
	align-items: start;
	min-height: 100vh;
}

.footer {
	display: flex;
	flex-flow: row wrap;
	padding: 30px 30px 20px 30px;
	color: aliceblue;
	background-color: darkslategray;
	border-top: 1px solid #e5e5e5;
	position: absolute;
	bottom: -20vw;
	width: 100%;
	height: 20vw;
}

.footer > * {
	flex:  1 100%;
}

.footer__addr {
	margin-right: 1.25em;
	margin-bottom: 2em;
}

.footer__logo {
	font-family: 'Pacifico', cursive;
	font-weight: 400;
	font-size: 1.5rem;
}

.footer__addr h2 {
	margin-top: 1.3em;
	font-size: 15px;
	font-weight: 400;
}

.nav__title {
	font-weight: 400;
	font-size: 15px;
}

.footer address {
	font-style: normal;
	color: #999;
}

.footer__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 36px;
	max-width: max-content;
	background-color: rgb(33, 33, 33, 0.07);
	border-radius: 100px;
	color: gray;
	line-height: 0;
	margin: 0.6em 0;
	font-size: 1rem;
	padding: 0 1.3em;
}

.footer ul {
	list-style: none;
	padding-left: 0;
}

.footer li {
	line-height: 2em;
}

.footer a {
	text-decoration: none;
}

.footer__nav {
	display: flex;
	flex-flow: row wrap;
}

.footer__nav > * {
	flex: 1 50%;
	margin-right: 1.25em;
}

.nav__ul a {
	color: #999;
}

.nav__ul--extra {
	column-count: 2;
	column-gap: 1.25em;
}

.legal {
	display: flex;
	flex-wrap: wrap;
	color: #999;
}

.legal__links {
	display: flex;
	align-items: center;
}

.heart {
	color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
	.legal .legal__links {
		margin-left: auto;
	}
}

@media screen and (min-width: 40.375em) {
	.footer__nav > * {
		flex: 1;
	}

	.nav__item--extra {
		flex-grow: 2;
	}

	.footer__addr {
		flex: 1 0px;
	}

	.footer__nav {
		flex: 2 0px;
	}
}
.nav__item {
	margin-left: 20%;
}
