*, ::before, ::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box; 
}
html {
	overflow-x: hidden;
	height: 100%;
}

html::-webkit-scrollbar {
	display: none;
}
.bigheading {
	position: absolute;
	left: 2%;
	top: 3%;
	font-size: 5vw;
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(50, 50, 50);
}
.bigheading a {
	text-decoration: none;
	color: black;
}
.navbar h2 {
	position: absolute;
	top: 2%;
	font-family: "Gill Sans", sans-serif;
	color: rgb(50, 50, 50)
}
#resourcebutton {
	position: absolute;
	right: 20%;
	font-family: "Gill Sans", sans-serif;
	top: 6%;
	font-size: 2vw;
	color: rgb(50, 50, 50);
}
#forumsbutton {
	position: absolute;
	right: 40%;
	font-size: 2vw;
	font-family: "Gill Sans", sans-serif;
	top: 6%;
	color: rgb(50, 50, 50);
}
#aboutusbutton {
	position: absolute;
	right: 5%;
	top: 6%;	
	font-family: "Gill Sans", sans-serif;
	font-size: 2vw;
	color: rgb(50, 50, 50);
}

.topmenu {
	text-decoration: none;
	float: right;
}
#background {
	background-attachment: scroll;
	height: auto;
}
.afterhomepage {
	margin-left: 25%;
	margin-right: 25%;
	z-index: 5;
	transform: translateY(3vw);
	margin-bottom: 30vh;
}


#welcometexthr {
	margin-bottom: 1.5vw;
}

#welcometext {
	font-family: Arial, sans-serif;
	color: rgb(72, 112, 57);
}

#h1paragraph {
	width: 33%;
	font-family: DejaVu Sans Mono, monospace;
	float: left;
	font-size: 2vw;
	margin-right: 4vw;
}

#paragraphthingy {
	font-family: Optima, sans-serif;
	font-size: 1.25vw;
}


.aftertheafterhomepage {
	position: absolute;
	width: 50%;
	height: auto;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 15vw;
}

#aftertheafterheading {
	position: absolute;
	transform: translateY(-0.5vw);
}



.afterhomepage1 {
	margin-left: 25%;
	margin-right: 25%;
	z-index: 5;
	transform: translateY(10vw);
}

.margins {
	margin-left: 25vw;
	margin-right: 25%;
}

.projectthingy {
	margin-left: 15%;
	margin-right: 15%;
}

#projectsheader {
	text-align: left;
	font-family: Arial, sans-serif;
	color: rgb(72, 112, 57);
	font-size: 1.25em;
	margin-bottom: 0.5vh;
}

.imagecontainer {
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 5vw);
    grid-gap: 5%;
}

.imagecontainer img {
	z-index: 2;
}

.imagecontainer p {
	z-index: 3;
	font-family: Optima, sans-serif;
	font-size: 1.5vw;
	font-weight: 600;
	text-decoration: underline;
	text-decoration-color: rgb(72, 112, 57);
	color: rgb(72, 112, 57);
}



#firstbackgroundcolor {
	background-color: beige;
	height: 20vw;
}

#secondbackgroundcolor {
	height: 10.5em;
	transform: translateY(-5%);
}



.threedprinterheaderthingyy {
	margin-top: 2.5em;
	font-size: 2.5em;
	font-family: DM Sans,sans-serif;
	font-family: 100;
	margin-bottom: 7.5vw;
}

.thirdbackgroundcolor {
	background-color:darkcyan;
	height: 50em;
}
.thirdbackgroundcolor img {
	float: right;
	padding: 2.5%;
	/*transform: translateY(-34em);*/
	position: relative;
	top: 0;
	/*object-fit: cover;*/
	object-position: 50% 15%;
	height: 100%;
}



#thirdbackgroundtexth1 {
	font-family: DejaVu Sans Mono, monospace;
	padding-left: 5%;
	padding-top: 0.6em;
	font-size: 5em;
	color: white;
}

#thirdbackgroundcolorparagraph {
	padding-left: 5%;
	padding-top: 3em;
	font-family: Optima, sans-serif;
	font-size: 1.62em;
	color: lightgray;
}

#fourthbackgroundtexth1 {
	margin-top: 0.85em;
	padding-right: 2.5%;
	font-family: DejaVu Sans Mono, monospace;
	float: right;
	font-size: 5.25em;
}

.thirdbackgroundcolortext {
	background-color:darkcyan;
	height: 9em;
}

.fifthbackgroundcolor {
	background-color:darkolivegreen;
	height: 50em;
}
.fifthbackgroundcolor img {
	float: left;
	padding: 2.5%;
	/*transform: translateY(-34em);*/
	position: relative;
	top: 0;
	object-position: 50% 15%;
	height: 100%;
	width: auto;
}

#fifthbackgroundh1 {
	font-family: DejaVu Sans Mono, monospace;
	padding-top: 0.6em;
	font-size: 5em;
	color: white;
	position: absolute;
	right: 2.5%;
}

#fifthbackgroundtextp {
	width: 60%;
	padding-top: 8em;
	font-family: Optima, sans-serif;
	font-size: 1.62em;
	color: lightgray;
	text-align: right;
	float: right;
	position: absolute;
	right: 2.5%;
	padding-left: 5%;
}

#sixbackgroundcolor {
	background-color: white;
	height: 15em;
}

.sixprinterheaderthingy {
	padding-left: 2.5%;
	font-size: 2.5em;
	font-family: DM Sans,sans-serif;
	font-family: 100;
	margin-top: 0.5em;
	margin-bottom: 6em;
}

.sevenbackgroundcolor {
	background-color:darkcyan;
	height: 50em;	
}
.sevenbackgroundcolor img {
	float: right;
	padding: 2.5%;
	/*transform: translateY(-34em);*/
	position: relative;
	top: 0;
	/*object-fit: cover;*/
	object-position: 50% 15%;
	height: 100%;
	width: auto;
}

#sevenbackgroundtexth1 {
	font-family: DejaVu Sans Mono, monospace;
	padding-left: 5%;
	padding-top: 0.6em;
	font-size: 5em;
	color: white;
	max-width: fit-content;
}

#sevenbackgroundcolorparagraph {
	max-width: 100%;
	padding-left: 5%;
	padding-top: 3em;
	font-family: Optima, sans-serif;
	font-size: 1.62em;
	color: lightgray;
	padding-bottom: 3em;
}

.sevenbackgroundcolortext {
	background-color:darkcyan;
	height: 9em;
}

body {
	font-family: acumin-pro, system-ui, sans-serif;
	margin: 0;
	display: grid;
	grid-template-rows: auto 1fr auto;
	font-size: 14px;
	background-color: #f4f4f4;
	align-items: start;
	min-height: 100vh;
	z-index: 0;
}

.fourthbackgroundcolor {
	height: 15em;
	background-color: white;
	transform: translateY(-5%);
}

#threeedprinterheaderthingy {
	position: relative;
	top: 50%;
	margin-left: 2.5%;
}

#sixprinterheaderthingy {
	padding-top: 0.8em;
}