html {
  width: 1920px;
  height:1080px;
}
#menuicon {
    position: absolute;
    top: 0px;
    right: -973px;
}
.logo {
    position: relative;
    top: -2px;
    z-index: -2;
}
.dropbtn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
    left: 80px;
    top: -75px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #fcfcfc;
}
.topnav {
  overflow: hidden;
  background-color: #ffffff;
  position: absolute;
  top: 6px;
  right: 100px;
}
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 4px;
  margin-right: 16px;
  font-size: 17px;
  border: 1px solid gray;
  height: 35px;
  width: 300px;
  border-radius: 5px;
}
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
#login {
    background-color: #e6e6e6;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 18px;
    border: none;
    position: absolute;
    top: 8px;
    right: 24px;
}
.menuvid {
    width: 100%;
    position: absolute;
    top: 85px;
}
body {
    margin: 0;
}
.menubackground {
    position: absolute;
    z-index: -2;
    top: 70px;
}
#mainheading {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
    position: relative;
    top: -60px
}

.post1 {
    background-color: white;
    background-image: url('post1.jpg');
    background-size: 100% 60%;
    background-repeat: no-repeat;
    position: absolute;
    left: 2%;
    top: 750px;
    border-radius: 20px;
    width: 27%;
    height: 400px;
    z-index: -2;
    padding: 5px;
    font-size: 18px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,.5);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}
.post2 {
    background-color: white;
    background-image: url('post2.jpg');
    background-size: 100% 60%;
    background-repeat: no-repeat;
    position: absolute;
    left: 36%;
    top: 750px;
    border-radius: 20px;
    width: 27%;
    height: 400px;
    padding: 5px;
    font-size: 18px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,.5);
    align-items: center;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
} 
.post3 {
    background-color: white;
    background-image: url('post3.jpg'); 
    background-size: 100% 60%;
    background-repeat: no-repeat;
    position: absolute;
    right: 2%;
    top: 750px;
    border-radius: 20px;
    width: 27%;
    height: 400px;
    padding: 5px;
    font-size: 18px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,.5);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
} 
#trendingpostsheader {
  position: absolute;
  top: 660px;
  left: 45px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: darkslategray;
}

.post1:hover,
.post1:focus {
  transform: scale(1.1);
  transition-duration: 1s;
  background-position: center;
  background-size: cover;
  color: white;
}

.post2:hover,
.post2:focus {
  transform: scale(1.1);
  transition-duration: 1s;
  background-position: center;
  background-size: cover;
  color: white;

}.post3:hover,
.post3:focus {
  transform: scale(1.1);
  transition-duration: 1s;
  background-position: center;
  background-size: cover;
  color: white;
}

.mainimageaftertrendingpostimages {
  position:absolute;
  width:90%;
  height:600px;
  background-image: url('designer.png');
  background-repeat: no-repeat;
  background-size: 110%;
  top: 1250px;
  left: 5%;
  right: 5%;
  border-radius: 20px;
}