*, ::before, ::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box; 
}
.background {
	z-index: 0;
}

.bigheading {
	position: absolute;
	left: 2%;
	top: 3%;
	font-size: 6em;
	font-family: "Gill Sans", sans-serif;
	color: rgb(50, 50, 50);
}


.navbar h2 {
	position: absolute;
	top: 2%;
	font-family: "Gill Sans", sans-serif;
	color: rgb(50, 50, 50)
}

#resourcesbutton {
	position: absolute;
	right: 35%;
	top: 6%;
}

#forumesbutton {
	position: absolute;
	right: 25%;
	top: 6%;
}

#aboutusbutton {
	position: absolute;
	right: 21%;
	top: 6.23%;	
	font-family: "Gill Sans", sans-serif;
	font-size: 1.5em;
	
}

.dropbtn {
	padding: 10%;
	font-size: 1.5em;
	border: none;
	cursor: pointer;
	font-family: "Gill Sans", sans-serif;
	color: rgb(50, 50, 50);
	position: relative;
	right: -820%;
}

.dropdown {
	position: absolute;
	top: 5%;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: -830%;
	width: 100%;
	float: left;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {background-color: rgba(241,241,241,10%);}
.dropdown:hover .dropdown-content {display: block;}
